
/.vs
/API/.vs

/API/API/bin
/API/API/obj
/API/API/Properties/appsettings.Development.json
/API/API/store.db
/API/API.csproj.SdkResolver.1981936763.proj
/Report.upgradeToNet9.json

/API/Application/bin
/API/Application/obj

/API/Db

/API/DbUp/bin
/API/DbUp/obj
/API/DbUp/Config/appsettings.Development.json

/API/Domain/bin
/API/Domain/obj

/API/Infrastructure/bin
/API/Infrastructure/obj

/API/Localization/bin
/API/Localization/obj

/API/Test/bin
/API/Test/obj

/API/.editorconfig
